<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SharePointSiteUrl" value="http://sp2010vm/sites/migration" />
    <add key="SharePointLibraryTitle" value="Shared Documents" />
    <add key="SharePointDomain" value="CONTOSO" />
    <add key="SharePointUser" value="spreader" />
  </appSettings>

  <connectionStrings>
    <add name="MigrationDb"
         connectionString="Server=localhost;Database=SharePointMigrationLab;Trusted_Connection=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
</configuration>
